@model WebApplication5E.Models.View.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasePage.cshtml";
}

<h2>Index</h2>

@foreach(var p in Model.Prodotti)
{
    <div style="background-color:lightgray"><a href="@WebApplication5E.Helpers.PathHelper.GetProdottoUrl(p.Id)">Dettaglio</a> <strong>@p.Nome</strong> <em>@p.Descrizione</em> <img src="@WebApplication5E.Helpers.PathHelper.GetProdottoImagePath(p)" width="20"/> € @p.Prezzo @p.Quantita pezzi</div>
    <br />
}