@model WebApplication5E.Models.View.SignUpViewModel

@{
    Layout = "~/Views/Shared/_LayoutBasePage.cshtml";
}

<h2>@Model.LabelTitolo</h2>

@using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        <label class="form-check-label">@Model.LabelEmail</label>
        @Html.TextBoxFor(t => t.Utente.Email, new { @class = "mia", placeholder = Model.LabelEmail, type = "email" })
        @Html.ValidationMessageFor(t => t.Utente.Email)
    </div>
    <br />
    <div class="form-group">
        <label class="form-check-label">@Model.LabelPassword</label>
        @Html.PasswordFor(t => t.Password, new { placeholder = Model.LabelPassword })
        @*@Html.HiddenFor(t=>t.Utente.Password)*@
        @Html.ValidationMessageFor(t => t.Password)
    </div>
    <br />
    <div class="form-group">
        <label class="form-check-label">@Model.LabelConfermaPassword</label>
        @Html.PasswordFor(t => t.ConfermaPassword, new { placeholder = Model.LabelConfermaPassword })
        @Html.ValidationMessageFor(t => t.ConfermaPassword)
    </div>
    <br />
    <div class="form-group">
        <label for="Nome" class="form-check-label">@Model.LabelNome</label>
        @Html.TextBoxFor(t => t.Utente.Nome, new { placeholder = Model.LabelNome, maxlength = 255 })
        @Html.ValidationMessageFor(t => t.Utente.Nome)
    </div>
    <br />
    <div class="form-check">
        @Html.CheckBoxFor(t => t.Utente.IsPrivacy, new { @class = "form-check-input" })
        <label for="utente_isprivacy" class="form-check-label">@Html.Raw(Model.LabelPrivacy)</label>
        @Html.ValidationMessageFor(t => t.Utente.IsPrivacy)
    </div>
    <input type="submit" value="@Model.BtnRegistrazione" />
    if (!string.IsNullOrWhiteSpace(Model.Messaggio))
    {
        <span class="alert alert-@(Model.IsOk?"success":"danger")">@Html.Raw(Model.Messaggio)</span>
    }


}
