@model WebApplication5E.Models.View.SignUpViewModel

@{
    Layout = "~/Views/Shared/_LayoutBasePage.cshtml";
}

<h2>@Model.LabelTitolo</h2>

@using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label>@Model.LabelEmail</label>
        @Html.TextBoxFor(t => t.Utente.Email, new { @class = "mia", placeholder = Model.LabelEmail, type = "email" })
    </div>
    <br />
    <div class="form-group">
        <label>@Model.LabelPassword</label>
        @Html.PasswordFor(t => t.Password, new { placeholder = Model.LabelPassword })
        @*@Html.HiddenFor(t=>t.Utente.Password)*@
    </div>
    <br />
    <div class="form-group">
        <label>@Model.LabelConfermaPassword</label>
        @Html.PasswordFor(t => t.ConfermaPassword, new { placeholder = Model.LabelConfermaPassword })
    </div>
    <br />
    <div class="form-group">
        <label for="Nome">@Model.LabelNome</label>
        @Html.TextBoxFor(t => t.Utente.Nome, new { placeholder = Model.LabelNome, maxlength = 255 })
    </div>
    <br />
    <div class="form-check">
        @Html.CheckBoxFor(t => t.Utente.IsPrivacy, new { @class = "form-check-input" })
        @Html.LabelFor(t => t.LabelPrivacy, new { @class = "form-check-label", @for = "@Model.Utente.IsPrivacy" })

    </div>
    <input type="submit" value="@Model.BtnRegistrazione" />
    if (!string.IsNullOrWhiteSpace(Model.Messaggio))
    {
        <span class="alert alert-@(Model.IsOk?"success":"danger")">@Html.Raw(Model.Messaggio)</span>
    }
}
